#login{
   width: 100px;  /*aumenta a largura*/
   height: 40px;/*aumenta a altura*/
   background-color: rgb(243, 47, 47);
   color: rgb(248, 245, 245);
   border-radius: 20px;/*torna as bordas */
   border: none; /*titar as bordas*/
  }
  
   #navbar{
      display: flex;
      justify-content: center;
      align-items: center;
   }
   #banner{
      height: 500px;
      width: 500px;
  
   }
   .texto-banner{
     font-size: 60px;
     font-weight: bolder;
   }
   .caixa-texto{
      width: 500px; 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   .caixa-estrutura{
     display: flex;
     flex-direction: row;
   }
   .titulo{
     display: flex;
     align-items: center;
   }
  #food{
    color: rgb(243, 47, 47);
  }
  #bnt-get{
     width: 100px;  /*aumenta a largura*/
     height: 40px;/*aumenta a altura*/
     background-color: rgb(243, 47, 47);
     color: #ffffff;
     border-radius: 20px;/*torna as bordas redondas*/
     border: none; /*titar as bordas*/
  }
  .caixatitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: bisque;
  width: 400px;
  
  }
  .titulo-secundarios {
   color:rgb(243, 47, 47);
    font-weight: 500px;
  }
  .titulo-primario{
     font-weight: bolder;
     font-size:40px;
  }

  .caixa-frente{
   display: flex;
   flex-direction: row;
align-items: center;
justify-content: space-around;

  }
  .cardes{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
.card-img{
   height: 200px;
   display: flex;

}
.caixa-pizza{
   display: flex;
   justify-content:space-between;
   align-items: center;
   flex-direction: row;
 
}
.img{
border-radius: 25px;
height: 300px;
width: 250px;
}
.Company{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction:row;
   width: 400px;
}
.About{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
   
   width: 400px;
}
.rodape-estrutura{
display: flex;
justify-content: space-around;
align-items:start;
flex-direction: row;
}
button{
   border-radius: 25px;
  background-color: #ffffff;
}